h1 Новое правило для #{@product.title}

= render "form", product_parser_rule: @product_parser_rule

br

div
  = link_to "Список правил", product_product_parser_rules_path(@product), class: 'btn btn-secondary'
